.container{
    display: flex;
    /*flex-direction: row; */
    flex-flow: row;
    /*justify-content: flex-start; */
    /*align-content: space-between; */
    /*align-items: flex-start;*/
    /*flex-wrap: wrap; */
    border: 1px solid #fff;
    width: 800px;
}

.container div{
    float: right;
    width: 100px;
    margin: 0;
    flex-grow: 1;
}

.container div:nth-child(2){
   /*order: -1; */
    /*align-self: stretch; */
    flex-grow: 3;
}

/*
.container div:nth-child(5){
    order: 1;
    align-self: flex-end; 
} */


.container div:nth-child(3){
    /*order: 5;*/
    flex-grow: 3;
}